config/person.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="person">
    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="first_name" type="xsd:string"/>
        <xsd:element name="email" type="xsd:string"/>
        <xsd:element name="plz" type="xsd:string"/>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
